body {
    background-color: #f5f8fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 15px;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin-bottom: 1rem;
}

h2 {
    font-weight: bold;
}

