 body {
            background-color: #f3f2ef;
            margin-top: 70px;
        }

        .sidebar-section {
            position: sticky;
            top: 80px;
            margin-top: 50px;
        }

        .content-section {
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            margin-top: 50px;
        }

        .profile-img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }

        .form-section {
            margin-bottom: 30px;
        }

        .remove-btn {
            cursor: pointer;
            color: red;
            margin-left: 10px;
        }
